doctype html
html
    head
        style
            include style.css

    body
        div.header

            block content

        div.header
            | Hello
            br
            | Your School
            a(href=frontendUrl) Our Website
